<h2>Thanks for Shopping with us <%= current_user.email %>!</h2>
<p>Let's review your order:</p>

<% @order.order_items.each do |k,v| %>
	<ul>
		<li>Item Name: <%= Product.find(k).name %>, <%= v %></li>
	</ul>
<% end %>

<p>
	<strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>