<h1 class="portfolio-header text-center">Welcome to My Store</h1>

<div class="feature">

<div id="slideshow" class="sliders" style:"clear:both;">
	<%= @feature %>

      <% @carousel.each do |carousel| %>

      <%= image_tag carousel, class: "slide"%>

      <% end %>
</div>

</div> 