/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

/** NAVIGATION */
.navbar-brand{
	margin-top: 20px;
}

.navbar-nav{
	margin-top:35px;
	width: 50%;

}
.nav-link{ 
 	
}

.nav-item{
	margin-left: 10%;
}

.glyphicon-menu-hamburger{
	margin-right:28px;
	margin-top: 30px;
	border-color: transparent;
	color: rgba(128,0,0,0.75);
}

/* END NAV*/
/* FOOTER*/
.footer{
	height:75px;
}
/* END FOOTER*/
/* LOGIN PAGE*/
.login{
	margin-left:20px;
}
.login-field{
	width:300px;
}
/* END LOGIN*/
/* BUTTONS*/
.btn-warning{
	background-color: rgba(128,0,0,0.75);
	border-color: transparent;
}

/* END BUTTONS*/
/* IMAGES */
.thumb{
	width:75px;
	height: 75px;
	border-radius: 5px;
}

.show-pic{
	width:150px;
	height: 150px;
}
/* STOREFRONT */
.storefront-pic{
	width:90%;
	height: 100%;
	margin: 0 auto;
	display: block;
	border-radius: 5px;

}

.storefront-text{
	margin-left:6%;
}

.storefront-title{
	margin-left:20px;
}
/* END STOREFRONT*/
/* PRODUCTS EDIT */
.products-field{
	width:300px;
}

.products-label{
	color: rgba(128,0,0,0.75);
	font-weight: 600;
}

.products-pic{
	width:350px;
	height: 100%;
}
/* End Products*/
/* Portfolio / Home */

.portfolio-header{
	color: rgba(128,0,0,0.75);	
}

.feature-pic{
	width:90%;
	height:100%;
	margin:0 auto;
	display: block;
}






